*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-areas:
        "nav"
        "filters"
        "main"
        "footer"
    ;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    width: 100%;
    height: 100vh;
}

.nav-section{
    grid-area: nav;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ececec;
}
.nav-section > .logo-container{
    display: flex;
}
.nav-section >.logo-container > .logo, .menu{
    width: 30px;
}

.filter-section{
    grid-area: filters;
    background-color: #ececec;
}
.main-section{
    grid-area: main;
}

.foot-section{
    grid-area: footer;
    background-color: blue;
}
